# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# MLflow local database
mlflow.db
mlruns/

# Model artifacts
models/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db